Here is your webhook url for the <b>Bitbucket</b> repository:
<code>{{webhook_url}}</code>
To install the webhook:
1. From Bitbucket, open the repository where you want to add the webhook.
2. Click the <b>Settings</b> link on the left side.
3. From the links on the <b>Settings</b> page, click the <b>Webhooks</b> link.
4. Click the <b>Add webhook</b> button to create a webhook for the repository.
5. On the <b>Add new webhook</b> page, enter a <b>Title</b> with a short description.
6. Enter the <b>URL</b> to the application or server.
7. If necessary, update the <b>Triggers</b> field.
8. After you entered all the necessary information for your webhook, click <b>Save</b>.